### **Coding Assignment: Data Exploration and Visualization Using Pandas**

### **Dataset 01:**
Use the [Iris Species dataset](https://www.kaggle.com/uciml/iris) from Kaggle, which contains measurements of different species of iris flowers.

#### **Instructions:**

1. **Importing the Dataset:**
   - Load the dataset into a pandas DataFrame.
   - Display the first 5 rows of the dataset.

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
data = pd.read_csv("Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

2. **Basic Data Exploration:**
   - **Data Summary:**
     - Display basic information about the dataset, including the number of rows and columns, data types of each column, and memory usage.
     - Generate descriptive statistics for the numerical columns (e.g., mean, median, standard deviation).
   - **Check for Missing Values:**
     - Identify any missing values in the dataset and explain how you would handle them if there were any.
   - **Value Counts:**
     - Display the count of each unique species in the `species` column.

In [17]:
data.shape

(150, 6)

In [25]:
data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [27]:
data.memory_usage()

Index             132
Id               1200
SepalLengthCm    1200
SepalWidthCm     1200
PetalLengthCm    1200
PetalWidthCm     1200
Species          1200
dtype: int64

In [28]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [29]:
data["Species"].value_counts

<bound method IndexOpsMixin.value_counts of 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object>

In [31]:
null_data = data.isna().sum()
null_data

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

3. **Filtering and Sorting:**
   - Filter the dataset to show only the rows where the `sepal_length` is greater than 5.0.
   - Sort the filtered dataset by `petal_length` in descending order.

In [38]:
filter_by_sepal =data[data["SepalLengthCm"] > 5.0]
filter_by_sepal

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [41]:
filter_by_sepal= filter_by_sepal.sort_values(by="PetalLengthCm", ascending=False)
filter_by_sepal

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
...,...,...,...,...,...,...
28,29,5.2,3.4,1.4,0.2,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
36,37,5.5,3.5,1.3,0.2,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa

5. **Creating New Columns:**
   - Create a new column called `sepal_petal_ratio` which is the ratio of `sepal_length` to `petal_length`.

6. **Data Visualization:**
   - **Histogram:**
     - Create a histogram to visualize the distribution of `sepal_length` values.
   - **Scatter Plot:**
     - Create a scatter plot with `sepal_length` on the x-axis and `petal_length` on the y-axis. Use different colors to represent different species.
   - **Box Plot:**
     - Create a box plot for the `sepal_width` values, grouped by `species`.


7. **Correlation Matrix**
   - Calculate the correlation matrix for the numerical features and create a heatmap to visualize the correlations using `seaborn`.

---

### **Dataset 02 :** [House Prices Dataset](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data)

The dataset includes 79 explanatory variables that describe aspects of residential homes.

#### **Instructions**:
- Use Python and Jupyter Notebook to solve the questions.
- Ensure your code is efficient, well-commented, and follows best practices for handling missing data and outliers.
- Use appropriate visualizations where needed and include explanations for your analysis.

### **Problem 1: Data Exploration with Pandas**  
1. Load the House Prices dataset using Pandas and perform initial exploration:
   - Display the first and last 5 rows.
   - Display the **data types** of each column.
   - Check for **missing values** and calculate the percentage of missing data for each column.
   - Summarize the **statistical properties** of the numerical columns using `describe()`.

2. Based on the dataset, identify the following:
   - Columns that are **categorical** and **numerical**.
   - Any potential **outliers** in the numerical columns (use visualizations like boxplots).

### **Problem 2: Data Manipulation with Pandas**  
1. Filter the dataset to include only houses where the **SalePrice** is above the **90th percentile**.
2. Create a new **calculated column**: `Price_Per_SqFt = SalePrice / GrLivArea`.
3. **Group the data** by `Neighborhood` and calculate the **mean** and **median** for `SalePrice`.
4. Sort the dataset by `Price_Per_SqFt` and display the **top 10 rows**.

### **Problem 3: Handling Missing Data and Imputation**  
1. Identify columns with **missing values**.
2. Impute the missing values:
   - For **numerical columns**, replace missing values with the **median**.
   - For **categorical columns**, replace missing values with the **most frequent** value.
3. Justify your choice of imputation methods and check if any missing data remains.

### **Problem 4: Numpy Array Operations**  
1. Convert the numerical columns (such as `LotArea`, `YearBuilt`, `GrLivArea`, `SalePrice`, etc.) into a **NumPy array**.
2. Perform the following NumPy operations on the array:
   - Compute the **mean** and **standard deviation** of each column.
   - Normalize the data using **min-max scaling** and **z-score normalization**.
   - Compute the **dot product** between two numerical columns of your choice.

### **Problem 5: Data Visualization**  
Using Matplotlib and/or Seaborn, visualize the following:
1. **Distribution** of `SalePrice` using a **histogram**.
2. **Box plot** of `SalePrice` grouped by `OverallQual` (overall quality of the house).
3. **Scatter plot** between `GrLivArea` (Above-ground living area) and `SalePrice`. Analyze the relationship.
4. Plot a **correlation heatmap** for the numerical columns.

### **Problem 6: Aggregation and Transformation**  
1. Perform a **groupby** operation on `Neighborhood` and calculate the **mean** and **median** for `SalePrice`.
2. Use the `apply()` function to create a custom transformation for `SalePrice` (e.g., scaling or transformation).
3. Aggregate multiple statistical values (e.g., **mean**, **median**, and **count**) for `SalePrice` grouped by `OverallQual`.