**Python loop statement**

*syntax:*

for item in items:

    do something

In [1]:
fruits = ["apple", "mango", "cherry"]
i=0
for each in fruits:
    print(f"step {i}")
    print(each)
    i =i +1

step 0
apple
step 1
mango
step 2
cherry

**Range**

In [2]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

*
**
***
****
*****

In [4]:
for i in range(1,6):
    print("x"*i)

x
xx
xxx
xxxx
xxxxx

**Nested loop**

loop inside loop

In [1]:
adjective  = ["red", "big", "tasty"]
fruits = ["apple", "banana", "grapes"]

In [2]:
for adj in adjective:
    for fruit in fruits:
        print(adj, fruit)

red apple
red banana
red grapes
big apple
big banana
big grapes
tasty apple
tasty banana
tasty grapes

###Write a Program to Display the Multiplication Table of a Given Number:

 
Create a Python program that asks the user to enter an integer, and then prints the multiplication table for that number from 1 to 10. Use a for loop to generate and display the table.

In [3]:
nums = int(input("enter the number: "))
for i in  range(1,11):
    print(f"{nums} * {i} = {nums *i}")

enter the number:  1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [1]:
word ="asdrfdseasd"
conv = set(word)
print(conv)
for  char in conv:
    
    print(char)

{'e', 'd', 'f', 's', 'r', 'a'}
e
d
f
s
r
a

In [2]:
conv

{'a', 'd', 'e', 'f', 'r', 's'}

In [4]:
dd = {5:"apple", 3:"ball"}
dd.get(0,"mango")

'mango'

**merging 2 dict**

In [5]:
dd = {5:"apple", 2:"ball"}
bb ={3:"cat", 4:"dog"}

In [7]:
{**dd, **bb}

{5: 'apple', 2: 'ball', 3: 'cat', 4: 'dog'}

In [9]:
(dd | bb)

{5: 'apple', 2: 'ball', 3: 'cat', 4: 'dog'}

In [13]:
list1 = ["ball","cat"]

list2 =list1.copy()

In [16]:
list2 =[0]

In [17]:
list1

['ball', 'cat']

In [18]:
list2

[0]

**loop in dict**

In [28]:
person ={"name": "john", "age":"30", "city":"newyork", "gender":"male"}
for key, value in person.items():
    print(key)
    
    print(value)

name
john
age
30
city
newyork
gender
male

male

In [31]:
long_list= [tuple(range(1,5)), tuple(range(5,9))]
for a,b,c,d in long_list:
    print(a,b)
    print(c,d)

1 2
3 4
5 6
7 8